NEXTAUTH_URL="http://localhost:3003"
NEXTAUTH_SECRET="change-me"

GOOGLE_CLIENT_ID="change-me"
GOOGLE_CLIENT_SECRET="change-me"

NEXT_PUBLIC_API_URL="http://localhost:3000"
NEXT_PUBLIC_WEB_URL="http://localhost:3001"
NEXT_PUBLIC_MAPBOX_TOKEN="change-me"
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_change_me"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="change-me"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="change-me"
